.project-carousel {
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 px;
  text-align: center;
  perspective: 1000px;
  height: 60vh;
  background: linear-gradient(
    135deg,
    rgba(204, 233, 236, 0.5),
    rgba(155, 112, 78, 0.5)
  ); 
  width: 100%;
  overflow: hidden;
  padding-right: 4rem;
  padding-left: 4rem;
}

.carousel-heading {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.project-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
  height: 350px;
}

.project-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.project-card h2 {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #333;
}

.project-card p {
  font-size: 1rem;
  color: #666;
  line-height: 1.5;
}

.swiper-button-next,
.swiper-button-prev {
  color: #333;
  z-index: 10; /* Ensure buttons appear above the cards */
}

.swiper-pagination-bullet {
  background: #333;
}

.swiper-slide {
  transform-origin: center center; /* Set the transform origin for 3D effects */
}

.swiper-slide-active {
  transform: scale(1.1); /* Highlight the active slide */
  z-index: 10;
}
